# Reports & Logs
yearbook-choice/reports/*
package-choice/reports/*

# Python & System
__pycache__/
*.pyc

coordinates.json
current_session.txt
.DS_Store

# Virtual Environments
venv/
.venv/

# Configuration (Machine Specific)
yearbook-choice/code-yearbook-choice/coordinates.json
package-choice/code-package-choice/coordinates_package.json

# Data (PII protection)
*.xlsx